
node_modules/
npm-debug.log*
package-lock.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.tar

# -------------------------
# Build / Cache
# -------------------------
dist/
build/
.cache/

